.showdebug{ display: block;position: absolute;float: left; color:red;background-color: white;padding: 5px;z-index: 9999;width: auto;height: auto;}

#msg_error{display: none;font-size: 18px;font-stretch: normal; font-weight: bold; repeat scroll 0% 0% transparent; z-index: 9999; left:15%; top: 45%; width: 70%;
position: fixed; text-align: center; }

#msg_success{display: none;font-size: 18px;font-stretch: normal; font-weight: bold; repeat scroll 0% 0% transparent;z-index: 9999; left:15%; top: 45%; width: 70%;
position: fixed; text-align: center; }

#msg_info{display: none;font-size: 18px;font-stretch: normal; font-weight: bold; repeat scroll 0% 0% transparent;z-index: 9999; left:15%; top: 38%; width: 70%;
position: fixed; text-align: center; }

#msg_my_alert {
font-family: 'rsuregular';font-size: 18px;font-stretch: normal; font-weight: bold; repeat scroll 0% 0% transparent; color: #ffffff; z-index: 9999; left:15%; top: 45%; 
position: fixed; text-align: center; width: 100%; height:50px;line-height:50px;background-color: #ffffff;background: none repeat scroll 0 0 #438eb9; 
border-radius: 5px 5px 5px 5px; display: none;}

#BG_overlay{ left:0; top:0; width:100%; height:100%; position: fixed; background-color: #222; opacity: 0.8; filter: alpha(opacity=60); 
z-index:9000; display:none; overflow:hidden;}
