.slim-file-hopper {
position:absolute;
left:0;
top:0;
right:0;
bottom:0;
}

.slim-image-editor {
position:relative;
height:100%;
text-align:left;
z-index:1;
}

.slim-image-editor .slim-container {
position:relative;
height:calc(100%-8em);
width:100%;
z-index:2;
direction:ltr;
}

.slim-image-editor .slim-editor-btn-group,.slim-image-editor .slim-editor-utils-group {
-ms-flex-negative:0;
flex-shrink:0;
}

.slim-image-editor .slim-stage {
position:absolute;
line-height:0;
z-index:4;
}

.slim-image-editor .slim-wrapper {
position:absolute;
z-index:2;
}

.slim-image-editor .slim-crop-preview {
position:absolute;
left:0;
top:0;
right:0;
bottom:0;
line-height:0;
z-index:3;
border-radius:4px;
}

.slim-image-editor .slim-crop-preview:after,.slim-image-editor .slim-crop-preview canvas,.slim-image-editor .slim-crop-preview img {
position:absolute;
display:block;
border-radius:inherit;
left:0;
top:0;
}

.slim-image-editor .slim-crop-preview .slim-crop {
z-index:3;
}

.slim-image-editor .slim-crop-preview:after {
z-index:2;
right:0;
bottom:0;
content:"";
}

.slim-image-editor .slim-crop-preview .slim-crop-blur {
-webkit-filter:contrast(.7);
-moz-filter:contrast(.7);
filter:contrast(.7);
z-index:1;
}

.slim-image-editor .slim-editor-utils-group button {
width:2.5em;
height:2.5em;
font-size:1em;
cursor:pointer;
outline:none;
box-shadow:inset 0 -1px 2px rgba(0,0,0,.1),inset 0 1px 0 0 hsla(0,0%,100%,.15);
background-color:transparent;
background-size:50% 50%;
background-position:50%;
background-repeat:no-repeat;
padding:0;
}

.slim-image-editor .slim-editor-utils-group button:active {
background-color:rgba(0,0,0,.1);
box-shadow:inset 0 1px 2px rgba(0,0,0,.15);
}

.slim-image-editor .slim-editor-btn-group button {
position:relative;
display:inline-block;
vertical-align:top;
font-size:1em;
cursor:pointer;
overflow:hidden;
-webkit-transition:color .25s,box-shadow .25s,background-color .25s;
transition:color .25s,box-shadow .25s,background-color .25s;
box-shadow:inset 0 -1px 2px rgba(0,0,0,.1),inset 0 1px 0 0 hsla(0,0%,100%,.15);
background-color:transparent;
outline:none;
margin:0 .75em;
padding:.75em 1.5em .875em;
}

.slim-image-editor .slim-editor-btn-group button:active {
background-color:rgba(0,0,0,.1);
box-shadow:inset 0 1px 2px rgba(0,0,0,.15);
padding:.875em 1.5em .75em;
}

.slim-rotation-disabled .slim-container {
height:calc(100%-4em);
}

.slim-rotation-disabled .slim-editor-utils-group {
display:none;
}

.slim-editor-btn,.slim-editor-utils-btn {
color:hsla(0,0%,100%,.75);
border:2px solid rgba(0,0,0,.25);
}

.slim-editor-btn:focus,.slim-editor-btn:hover,.slim-editor-utils-btn:focus,.slim-editor-utils-btn:hover {
color:hsla(0,0%,100%,.9);
}

.slim-editor-utils-btn {
border-radius:.6875em;
}

.slim-editor-btn {
border-radius:.5em;
}

.slim-image-editor-preview:after {
background-color:rgba(244,250,255,.4);
box-shadow:inset 0 0 0 1px hsla(0,0%,100%,.07),0 1px 5px rgba(0,0,0,.3);
}

.slim-image-editor .slim-editor-utils-group,.slim-image-editor .slim-editor-btn-group {
text-align:center;
}